.wrapper {
    width:150px;
    height:150px;
    margin: 25px auto;
    overflow: hidden;
    border-radius:50%;
    position: relative;
  }
  
  .wrapper img {
    position: absolute;
    top:50%;
    left:50%;
    width: 150px;
    height: 150px;
    transform: translate(-50%,-50%)
  }

.ul{
    width: 100%;
    display: flex;
    padding: 50px;
}

.ul li{
    display: flex;
    width: 50%;
    justify-content: center;
}

.container{
    width: auto;
    justify-content: center;
}

.photos{
    font-size: 20px;
    padding: 0rem 1rem;
    border-bottom: 2px solid rgb(228, 214, 214);
}

.hr{
    font-size: large;
    color: black;
}

.photos:hover {
    text-decoration: none;
    cursor: pointer;
    color: #000000 !important;
    border-bottom: 2px solid rgba(0, 0, 0, 0.658);
    outline: none;
    transition: all 1s ease-out;
  }

.product{
    width: 100%;
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
    align-content: flex-start;
  }

.li{
    text-decoration: none;
    list-style-type: none;
}