*{
    box-sizing: border-box;
}

.form_submit{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1300px;
  height: 600px;
  max-height: auto;
  z-index: 1000;
  border: 1px solid #e9e9e9;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0,0,0,.15);
  min-width: 0;
  margin: auto;
  padding: auto;
  max-width: auto;
  transform: translate(-50%, -50%);
  
}

.form{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 300px;
    max-height: auto;
    z-index: 1000;
    border: 1px solid #e9e9e9;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0,0,0,.15);
    min-width: 0;
    margin: auto;
    padding: auto;
    max-width: auto;
    transform: translate(-50%, -50%);
    opacity: 0.9;
}

.form-share{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 200px;
    max-height: auto;
    z-index: 1000;
    border: 1px solid #e9e9e9;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0,0,0,.15);
    min-width: 0;
    margin: auto;
    padding: auto;
    max-width: auto;
    transform: translate(-50%, -50%);
    opacity: 0.9;
}

.overlay_submit{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
  z-index: 1000;
  background-color: rgba(0,0,0, 0.5);
}


.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
    z-index: 1000;
    background-color: rgba(0,0,0, 0.35);
}


.image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border-right: 25px;
    top: 1.25em;
    position: relative;
    display: block;
    margin: 0 auto;
    z-index: 100;
}

.x{
    color: #ffffffb7;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 25px;
}

.x:hover{
    color: #ffffff;
}

.name{
  color: rgb(94, 158, 158);;
}

.btn{
    position: fixed;
    top: 650px;
    right: 130px;
    color: teal;
}

.logo a{
    position: relative;
    background-color: black;
    padding: 5px 10px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 12px;
    overflow: hidden;
    transition: 0.2s;
  }
  .logo a:hover{
    color: white;
    background: #576b7a;
    box-shadow: 0 0 10px #89a0b3, 0 0 40px #8795a0, 0 0 80px #687c8d;
    transition-delay: 1s;
    padding: 3px !important;
  }
  .logo a span{
    position: absolute;
    display: block;
  }
  .logo a span:nth-child(1)  {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,rgb(235, 235, 235));
  }
  .logo a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
  }
  .logo a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,rgb(235, 235, 235));
  }
  .logo a:hover span:nth-child(3) {
    left: 100%;
    transition: 1s;
    transition-delay: 0.5s;
  }
  .logo a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent, rgb(235, 235, 235));
  }
  .logo a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }
  .logo a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,rgb(235, 235, 235));
  }
  .logo a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
  }
  