* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  /* cursor: none; */
}

.home,
.categories,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.categories {
  background-image: url('/images/img-15.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('/images/img-15.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%); */
  background: #1C1B1B;
  box-shadow: 0 0 2px rgba(0,0,0,0.7) inset;
} 

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, rgba(0, 128, 128, 0.548));
  color: #fff;
  border-radius: 12px;
}

.cursor{
  width: 40px;
  height: 40px;
  background: #ffff;
  /* border: 1px solid #000000; */
  border-radius: 50%;
  position: absolute;
  /* transform: translate(-50%, -50%); */
  transition-duration: 10ms;
  transition-timing-function: ease-out;
  animation: cursorAnim .5s infinite alternate;
  pointer-events: none;
  mix-blend-mode: difference;
}

h3:hover ~ .cursor{
  transform: scale(6);
} 

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to{
    transform: scale(.7);
  }
}