#product{
    width: 100%;
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
    align-content: flex-start;
    list-style-type: none;
  }
  .card{
    min-width: 300px;
    min-height: 400px;
    border: 2px solid #eee;
    overflow: hidden;
    padding: 10px;
    box-shadow: 2px 8px 20px #0000007c;
    margin: 10px;
    transition: 0.5s linear;
  }
  .card:hover{
    box-shadow: none;
  }
  .card img{
    max-width: 300px;
    width: 100%;
    height: 100%;
    max-height: 300px;
    display: block;
    object-fit: cover;
  }
  .card h3{
    text-transform: uppercase;
    margin: 10px 0;
  }
  .card h3 a{
    text-decoration: none;
    color: #333;
  }
  .card h3 a:hover{
    color: crimson;
  }
  .card p{
    margin: 10px 0;
  }
  .content span{
    color: rgb(31, 152, 244);
  }