.results_ul{
    position: absolute;
    left: 180px;
    background-color: white;
    outline-style: none;
    list-style: none;
    margin-top: 20px;
    padding-top: 10px;
    padding-right: 150px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.results_ul:hover{
    cursor: pointer;
}

.none{
    display: none;
}