.navbar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    padding-top: 15px;
  }
  
  .h2_info{
    padding-left: 20px;
    padding-top: 20px;
  }
  
  .text{
    font-size: 23px;
    font-weight: 100;
  
  }
  
  .text_link{
    font-size: 23px;
    font-weight: 100;
    text-decoration: underline;
  }
  
  .text_link:hover{
  
    color: #000000;
  }
  
  .login_modal{
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 10%;
  }
  
  .span_modal{
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .search_bar{
    display: flex;
    width: 30%;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: 50px;
    height: 50%;
  }
  
  .search_input{
    max-width: 400px;
    width: 100%;
    padding: 2px;
    padding-right: 260px;
    border: none;
    border-radius: 80px;
    text-decoration: none;
    outline-style: none;
    padding: 10px;
    outline: none;
  }
  
  input[type="lol"]{
    text-indent: 10px;
  }
  
  .icon {
    padding: 10px;
    color: #000000;
    min-width: 40px;
    text-align: center;
  }
  /* 
  input[type="lol"]::placeholder{
    padding-left: 10px; 
  } */
  
  .submit_btn{
    background-color: transparent;
    color: white;
    border: none;
    outline-style: none;
    outline: none;
    border-style: none;
  }
  
  .navbar_logo{
    padding-bottom: 15px;
  }
  
  .navbar_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1800px;
  }
  
  .navbar_logo {
    text-decoration: none;
    color: white;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;  
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
  
  .navbar_logo:hover {
    text-decoration: none;
    color: #fff !important;
    transition: all 0.2s ease-out;
  }
  
  .fa_typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }
  
  .nav_menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 8px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
  }
  
  .nav_item {
    height: 50px;
  }
  
  .nav_links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0rem 1rem;
    height: 100%;
  }
  
  .nav_links:hover {
    text-decoration: none;
    color: #fff !important;
    border-bottom: 2px solid #fff;
    outline: none;
    transition: all 0.1s ease-out;
  }
  
  .fa_bars {
    color: #fff;
  }
  
  .nav_links-mobile {
    display: none;
  }
  
  .menu_icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav_menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav_menu.active {
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav_links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav_links:hover {
      background-color: #fff;
      color: #242424;
      border-radius: 0;
    }
  
    .navbar_logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu_icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa_times {
      color: #fff;
      font-size: 2rem;
    }
  
    .nav_links_mobile {
      display: block;
      text-align: center;
      margin: 1rem auto;
      border-radius: 4px;
      width: 50%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      padding: 10px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    }
  
    .nav_links_mobile:hover {
      background: #fff;
      color: #242424;
      transition: 250ms;
    }
  }
  
  .btn{
    padding: 8px 20px;
    font-size: 20px;  
  } 
  
  .btn--primary{
    background-color: black;
    color: #242424;
    border: 1px solid var black;
  }
  
  .btn--outline{
    background-color: transparent;
    color: #ffffff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
  }
  
  .btn_medium{
    background-color: #242424;
    padding: 8px 20px;
    font-size: 20px;
  }
  
  .btn_large{
    padding: 12px 26px;
    font-size: 20px;
  }
  
  .btn_medium:hover, .btn_large:hover{
    background: #ffffff;
    color: #242424;
    transition: all 0.3s ease-out;
  }
  
  .name{
    color: #ffffff;
    padding-left: 10px;
    padding-top: 10px;
  }
  
  .name:hover{
    color: rgba(255, 255, 255, 0.76);
  transition: 0.1s;
  opacity: 1;
  cursor: pointer;
  }
  
  li .log2{
  display: none;
  }
  
  li:hover{
  transition: 3s;
  }
  
  li:hover .log1{
  display: none;
  }
  li:hover .log2{
  display: inline;
  }