.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1800px;
}

.navbar-logo {
  text-decoration: none;
  color: white;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;  
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.navbar-logo:hover {
  text-decoration: none;
  color: #fff !important;
  transition: all 0.2s ease-out;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 55vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 60px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0rem 1rem;
  height: 100%;
}

.nav-links:hover {
  text-decoration: none;
  color: #fff !important;
  border-bottom: 2px solid #fff;
  outline: none;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 1rem auto;
    border-radius: 4px;
    width: 50%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}

.btn{
  padding: 8px 20px;
  font-size: 20px;  
} 

.btn--primary{
  background-color: black;
  color: #242424;
  border: 1px solid var black;
}

.btn--outline{
  background-color: transparent;
  color: #ffffff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn-medium{
  background-color: #242424;
  padding: 8px 20px;
  font-size: 20px;
}

.btn-large{
  padding: 12px 26px;
  font-size: 20px;
}

.btn-medium:hover, .btn-large:hover{
  background: #ffffff;
  color: #242424;
  transition: all 0.3s ease-out;
}

.name{
padding-left: 10px;
padding-top: 10px;
}

.name:hover{
transition: 3s;
opacity: 1;
}

li .log2{
display: none;
}

li:hover{
transition: 3s;
}

li:hover .log1{
display: none;
}
li:hover .log2{
display: inline;
}